body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(90, 87, 87);
    background: lightgrey;
    width: 70vw;
    margin: 0 auto;
}

.heading {
    margin: 5vh;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.city {
    color: white;
}

.imgcontainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45vh;
    width: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#SF {
    background-image: url('../img/san-francisco.jpg');
}

#NY {
    background-image: url('../img/new-york.jpg');
}

#L {
    background-image: url('../img/london.jpg');
}

#N {
    background-image: url('../img/napa.jpg');
}

#S {
    background-image: url('../img/sonoma.jpg');
}

#SF2 {
    background-image: url('../img/san-francisco-2.jpg');
}

button {
    width: 22vw;
    line-height: 2;
    font-weight: bold;
    color: rgb(90, 87, 87);
    border: rgb(141, 136, 136) 1px solid;
    align-self: center;
    margin: 5vh 0 2vh 0;
    padding: 5px;
}

#destinations {
    margin: 5vh;
}